.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product_item.col-3 {
    padding: 10px;
    /* background-color: #f9f9f9; */
    margin-bottom: 30px;
}
.product_item.col-3 div {
    background-color: #f9f9f9;
    padding: 15px;
}

.product_item.col-3 h4 {
    margin-top: 20px;
    font-size: 14px;
    min-height: 30px;
}

h3.store_head {
  margin-bottom: 0;
  padding: 20px;
  background-color: aqua;
   text-align: center;
}

button.add_to_cart_btn {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 8px 30px;
}

.sied_menu_link {
  background-color: #f9f9f9;
}
.sied_menu_link a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #33333342;
}
.product-wrap h2 {
  margin-top: 20px;
}

.s_price {
  font-size: 25px;
}

.product-wrap {
  text-align: left;
}

.product-wrap .add_to_cart_btn {
  width: 50%;
  margin-top: 20px;
  display: block;
}

.total_box {
  border: 1px solid #ccc;
  padding: 10px;
}

.header_top {
  background-color: cyan;
}

.header_top li {
  list-style: none;
  display: inline-block;
  /* margin-right: 20px; */
  padding: 20px;
}

.header_top li a {
  font-weight: 600;
  color: #333;
}

form.login_box {
  margin: auto;
  text-align: left;
  /* width: 50%; */
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 50px;
}

a.checkout_btn {
  float: right;
  width: 25%;
  margin-top: 20px;
}

.checkout_wrap form {
  margin: auto;
  text-align: left;
  width: 80%;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px #cccccc9e;
}

button.place_ordr_btn {
  width: 30%;
  padding: 10px;
}

form.signup-form {
  margin: auto;
  text-align: left;
  /* width: 50%; */
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 50px;
}

h2.or {
  margin-top: 200px;
}
.table-responsive.cart_info tr a h4 {
    font-size: 13px;
}